site_name: Vulns.io Enterprise VM
site_url: https://lelekinkirill96.github.io/mkdocs_portfolio/


theme:
  name: material
  font:
    text: Merriweather Sans
  icon:
    logo: fontawesome/solid/pen
  palette:
# dark mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: green
      accent: deep purple 

# light mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: blue
      accent: deep orange
  features:
    - navigation.footer


    


markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences

nav:
  - Проблема "слепых зон": index.md





extra: 
  social:
    - icon: simple/telegram
      link: https://t.me/Lelekinkirill


copyright: Copyright &copy; 2025 Lelekin Kirill


        


